* {
  max-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif, ;
  box-sizing: border-box;
}
/* navbar */
.navbar {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.navbar nav a {
  text-decoration: none;
  color: black;
  font-weight: 500; 
  font: medium;
  font-size: 16px ;


}
nav{
    display: flex;
    gap: 32px ;
}
.logo {
  width: 139px;
  height: 60px;

}
.btn{
    background: #469165;
    color: white;
    padding: 12px 16px;
    gap: 10px;
    border-radius: 4px;
    
}
