* {
  max-width: 1200px;
  margin: 0, auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
/* navbar */
.navbar {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.navbar nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font: medium;
  font-size: 16px;
}
nav {
  display: flex;
  gap: 32px;
}
.logo {
  width: 139px;
  height: 60px;
}
.btn {
  background: #469165;
  color: white;
  padding: 12px 16px;
  gap: 10px;
  border-radius: 4px;
}

/* hero section */
.hero {
  text-align: center;
  background-image: url("../image/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 400px; */
  padding: 60px 120px;
}
.erly-btn {
  color: #469165;
  /* font-weight: 20; */

  border: 1px;
  border-radius: 100px;
  background: white;
  width: fit-content;
  margin: auto;
  display: flex;
  padding: 10px 20px;
}
.title {
  h1 {
    color: white;
    font-weight: 700;
    font: bold;
    font-size: 72px;
  }
  span {
    color: #469165;
  }
}
.paragraps {
  color: white;
}
.hero-btn {
  display: flex;
  gap: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  .one {
    display: flex;
    align-items: center;
    background: #469165;
    color: white;
    padding: 12px 16px;
    gap: 10px;
    border-radius: 4px;
  }
  .two {
    display: flex;
    align-items: center;
    background: none;
    color: white;
    border: 2px solid white;
    padding: 12px 16px;
    gap: 10px;
    border-radius: 4px;
  }
}
/* PROBLEMS */
.problems {
  padding: 60px 40px;
  text-align: center;
}

.problem-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 24px;
  margin-top: 40px;
}

.card {
  background: white;
  border: 2px solid rgb(248, 242, 242);
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(167, 102, 102, 0.05);
}
.card img {
  background-color: orangered;
  border-radius: 18px;

  height: 32px;
  width: 32px;
}

/* SOLUTION */
.solution {
  padding: 60px 40px;
  background: white;
display: flex;
margin: auto;
align-items: center;
  gap: 60px;
}

.solution-img{
width: 600px;
height: 600px;
border-radius: 12px;
}
.label{
  color: #469165;
}
.solution ul {
  margin-top: 20px;
  list-style: none;
}

.solution li {
  margin-bottom: 10px;

}

/* CTA */
.cta {
  padding: 60px;
  text-align: center;
  background: #F7F6F2;
}
.cta-p{
  color: #627382;
  font-size: 16px;
  font-weight: 400;
 
}
 .cta-btn{
   display: flex;
    align-items: center;
    background: #469165;
    color: white;
    padding: 12px 16px;
    gap: 10px;
    border-radius: 4px;
    margin: auto; 
  
 }

/* FOOTER */
footer {
  width: 1600px;
  height: 348px;
  background: #001931;
  
}
 .footer-img{
  width: 350px;
  height: 60px;
  gap: 16px;
  
 }
 .social-img{
  width: 200px;
  height: 64px;
  
 }

 .div-sec{
height: 64px;
width: 1360px;
  padding: 90px 164px 120px 120px ;
 display: flex;
  gap:700px;

}
.hr-line{
  width: 1010px;
  height: 0px;
  opacity: 20%;
  color:#E5E7EB;

}

.footer-p{
  color:#FAFAFA ;
  width: 400;
  font-size: 16px;
  line-height: 24px;
 justify-items: center;
 padding:30px ;
}